{
    "presets": [
        [
            "@babel/preset-env",
            { "debug": true, "useBuiltIns": "usage", "corejs": "3.18" }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}