{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": true,
	"arrowParens": "always",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto"
}
